
@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Thin.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedThin.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Light.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedLight.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-LightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Regular.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Extended.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Italic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Medium.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedMedium.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-MediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-SemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedSemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-SemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Bold.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedBold.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-BoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-Heavy.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedHeavy.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkadotGTerm-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-HeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkadotG Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkadotGTerm-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkadotGTerm-ExtendedHeavyItalic.ttf') format('truetype');
}
